article {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  margin-block: var(--space-4);
  box-shadow: var(--card-shadow);

  > :first-child {
    margin-block-start: 0;
  }

  article {
    box-shadow: none;
    border-radius: var(--radius);
    padding: var(--space-4);
  }

  &[highlight] {
    border-color: var(--color-primary);
    box-shadow: var(--shadow);
  }
}

[strips]>article {
  flex: 1 1 280px;
  margin-block: 0;
}