[items-inactive] > * {
  opacity: 0.5;
}

[positive] {
  color: var(--color-positive);
  border-color: var(--color-positive);
  background-color: var(--color-positive-subtle);
}

[negative] {
  color: var(--color-negative);
  border-color: var(--color-negative);
  background-color: var(--color-negative-subtle);
}

[alert] {
  color: var(--color-alert);
  border-color: var(--color-alert);
  background-color: var(--color-alert-subtle);
}

[inactive] {
  opacity: 0.5;
}
